CONFIG_DEFAULT_DEVICE_TREE="imx8mp-edm-g_android"
CONFIG_SYS_MMC_ENV_DEV=2
# Android
CONFIG_FASTBOOT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT_UUU_SUPPORT=y
CONFIG_LZ4=y
CONFIG_SPL_LZ4=y
CONFIG_FLASH_MCUFIRMWARE_SUPPORT=y
CONFIG_APPEND_BOOTARGS=y
CONFIG_SPL_MMC=y
CONFIG_AVB_WARNING_LOGO=y
CONFIG_AVB_WARNING_LOGO_COLS=0x320
CONFIG_AVB_WARNING_LOGO_ROWS=0xc0
CONFIG_VIRTUAL_AB_SUPPORT=y
CONFIG_ANDROID_SUPPORT=y
CONFIG_ANDROID_AB_SUPPORT=y
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_CMD_ERASEENV=y
CONFIG_ANDROID_EXT_DTBO=y
